* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  font-family: Overall;
}
/* *:after,
*:before {
  box-sizing: border-box;
} */

@font-face {
	font-family: Overall;
	src: url('./assets/fonts/SVN-Elle NovaC-Extra-Light.ttf');
}
  
@font-face {
	font-family: Detail;
	src: url('./assets/fonts/UTM-Ericsson-Capital.ttf');
}



.shadow {
	box-shadow: rgba(17, 16, 17, 0.56) 0px 22px 70px 4px;
}
.neon {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204);
}
html {
  scroll-behavior: smooth;
}
body {
	position: relative;
	min-height: 100%;
	background: rgba(255, 255, 255, 0.986);
	filter: brightness(.85) contrast(1.2);
	background: url('./assets/imgs/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 100px; 
}
h1, h2, h3, h4, h5 {
	color: #f1dfdf;
}
.content-wrapper {
	padding-left: 100px;
	padding-right: 100px;
	margin: 0 auto;
}


